<nav>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="deleteCookies">Delete Cookies</a></li>
        <li><a href="logout">Logout</a></li>
    </ul>
</nav>